.header {
  border-radius: 1.7rem;
  min-height: 400px;

  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: center;

  background-image: url("/img/rooms/room00.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;

  transition: 0.2s;

  position: relative;
}

.header :where(.rooms) {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 999;

  display: flex;
  flex-flow: row-reverse nowrap;
  gap: 1rem;
}
.header :where(.rooms) li > button {
  border-radius: 2rem;
  padding: 1rem 2rem;
  border: none;
  background-color: var(--primary-color);

  display: flex;
  flex-flow: row nowrap;
  gap: 0.3rem;

  transition: 0.1s;
}

.header :where(.container) {
  padding: 1rem;

  display: flex;
  flex-flow: column nowrap;
}
.header :where(.rooms) li > button:hover {
  background-color: var(--secondary-color);
}

/* heading one */
.header :is(.heading1) {
  font-size: 48px;
  color: white;
  max-width: 450px;
}

/* view video button */
.header :is(.viewVideo) {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;

  padding: 1rem 1.5rem;
  width: fit-content;

  border: none;
  border-radius: 0.5rem;

  transition: 0.2s;
}
.header :is(.viewVideo):hover {
  background-color: var(--secondary-color);
}

/* mini sidebar*/
.header .mini-sidebar {
  height: 100px;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 999;

  display: flex;
  justify-content: end;
}
.header :where(.mini-sidebar) .sidebar-btn {
  background-color: var(--primary-color);
  border-radius: 1rem;
  cursor: pointer;

  width: fit-content;
  height: 100%;
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s;

  position: absolute;
  z-index: 10;
}
.header :where(.mini-sidebar) .sidebar-btn:hover {
  background-color: var(--secondary-color);
}
.header :where(.sidebar-content) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 1rem;

  background-color: transparent;
  -webkit-backdrop-filter: blur();
  backdrop-filter: blur(10px);

  border-radius: 1rem;
  z-index: 9;

  width: 0;
  overflow: hidden;
  opacity: 0;

  img {
    width: 100px;
    border-radius: 0.5rem;
  }
  .sidebar-details {
    display: flex;
    flex-flow: column nowrap;
    p {
      font-size: 12px;
      color: white;
      white-space: nowrap;
    }
  }
}

@media screen and (max-width: 768px) {
  .header :where(.rooms) {
    gap: 0.3rem;
  }
  .header :where(.rooms) li > button {
    padding: 0.7rem;
  }
  .header :where(.rooms) button > p:nth-child(1) {
    display: none;
  }
}
